<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @expense.date %>
</p>

<p>
  <b>Description:</b>
  <%= @expense.description %>
</p>

<p>
  <b>Cost:</b>
  <%= @expense.cost %>
</p>

<p>
  <b>Expense category:</b>
  <%= @expense.expense_category_id %>
</p>


<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
